/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #111;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }
  
  /* NAVBAR */
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 68px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    transition: all 0.4s ease-in;
  }
  
  .nav_black {
    background-color: #111;
  }
  
  .nav_logo {
    position: fixed;
    left: 20px;
    width: 90px;
    cursor: pointer;
  }
  
  .nav_avatar {
    position: fixed;
    right: 20px;
    width: 35px;
    cursor: pointer;
  }
  
  /* BANNER */
  .banner {
    height: 448px;
    color: white;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  .banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .banner h1 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: 80px;
  }
  
  .banner_buttons {
    display: flex;
    gap: 1rem;
  }
  
  .banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s ease;
  }
  
  .banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transform: scale(1.05);
  }
  
  /* FADE EFFECT */
  .banner_fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
  
  /* ROWS */
  .row {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .row h2 {
    margin-left: 10px;
  }
  
  .row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 160px;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
  }
  
  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    .banner_description {
      width: 90%;
    }
  
    .banner h1 {
      font-size: 2rem;
    }
  
    .row_poster {
      max-height: 120px;
    }
  }
  